*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.main{
    height: 400px;
    width: 600px;
        background: rgba(210, 233, 233, 0.382);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: space-evenly;
    align-items: center;
}
li{
    list-style: none;
    color: #000;
    }
    form{
    display: flex;
    flex-direction: column;
    height: 24%;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    }
    ul{
        background: white;
        height: 70%;
        width: 90%;
        overflow-y: auto;
        border-radius: 8px;
        padding: 10px;
        color: #fff;
        font-size: 18px;
        box-shadow: 0 0 5px rgba(0,0,0,0.2);

    }
    .task{
        height: 40px;
        width: 80%;
        border-radius: 15px;
        outline: none;
        border: none;
        padding: 0 10px;
        font-size: 16px;
transition: 0.3s;

    }
    .btn{
        height: 40px;
        width: 80%;
        border-radius: 15px;
        border: none;
        outline: none;
        background: #333;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
        margin-top: 10px;
    }
    .btn:hover{
        background: #1d1818;
    }
.main ul li {
    width: 100%;
    padding: 12px 15px;
    border-radius: 12px;
    background: rgba(173, 216, 230, 0.353);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    font-size: 16px;
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    transition: 0.3s;
}
.task:focus{
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    
}